body {
  background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/backgrounds/legacy-previews/backgrounds/wood/wood-002642-gray-black.jpg");

  background-size: cover;
}
body, html, footer, .header,.projects_list, .header_logo, ul, li, h1 {
  width: 100%;

  margin: 0;

  padding: 0;

  font-family: "Montserrat", sans-serif;

  color: #2d3c49;
}
h2 {
  color: #02b3e4;
}
main{
  padding-top: 2em;
}
.header {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/98/17561c7cde948db.jpg");

  max-height: 140px;

  vertical-align: top;

  display: inline-block;

  box-shadow: 3px 3px 5px grey;

  padding-bottom: : 0.5em;
}
.header__logo {
  width: 105px;

  vertical-align: top;

  border-radius: 50%;

  position: absolute;

  margin-left: .5em;

  box-shadow: 1px 1px 5px white;
}
.header__title {
  text-align: right;

  position: relative;

  font-weight: 100;

  font-size: 3em;

  color: #2d3c49;
}
.second__title {
  text-align: right;

  vertical-align:top;

  padding-right: 4em;

  margin: 0.5em 0.5em;

  font-weight: 100;

  font-size: 16px;
}
.third__title {
  text-align: right;

  vertical-align:top;

  padding-right: 1.5em;

  margin: 0.5em 0.5em;

  font-weight: 100;

  font-size: 16px;
}
/*CSS for Main elements*/
.projects {
  text-align: center;

  color: #02b3e4;

  box-shadow: 0px 1px 5px black, 0px -1px 6px black;
}
.projects_list {
  width: 100%;

  display: flex;

  flex-wrap: wrap;

  padding-top: 1.5em;
}
.project_image {
  display: inline-block;

  text-align: center;

  width: 33%;

  color: #02b3e4;

  padding-bottom: 1em;
}
.project_pic {
  width: 250px;

  height: 180px;

  opacity: 0.8;

  box-shadow: 4px 4px 6px black;
}
.project_pic:hover {
  box-shadow: 4px 5px 5px black;

  opacity: 1.0;
}
.project_title {
  text-decoration: none;
}
.repo {
  font-size: 10px;

  color: #02b3e4;

  text-decoration: none;
}
/*CSS for Footer elements*/
.contact {
  display: flex;

  flex-wrap: wrap;

  width: 100%;

  padding-top: 1.5em;
}
.contact_link {
 width: 50%;

 text-align: center;
}
.contact_link_pic {
  width: 200px;

  height: 100px;
}
