@media screen and (max-width: 400px){
  .header__title {
    font-size: 2em;
  }
  .second__title {
    padding-right: 1em;
  }
  .third__title {
    font-size: 14px;

    padding: 0;
  }
  .project_image {
    width: 100%;
  }
  .contact_link_pic {
    width: 150px;

    height: 75px;
  }
}
@media screen and (min-width: 401px) and (max-width: 549px) {
  .header__title {
    font-size: 2.5em;
  }
  .second__title{
    padding-right: 2em;
  }
  .third__title {
    padding: 0;
  }
  .project_image {
    width: 100%;
  }
  .project_pic{
    width: 350px;

    height: 200px
  }
  .contact_link_pic {
    width: 150px;

    height: 75px;
  }
}
@media screen and (min-width: 550px) and (max-width: 649px) {
  .project_image {
    width: 50%;
  }
}
@media screen and (min-width: 650px) and (max-width: 899px) {
  .project_image {
    width: 50%;
  }
  .project_pic {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  body {
    width:900px;

    margin-left: auto;

    margin-right: auto;
  }
}
